*.cache
*.vsidx
*.v2
*.CopyComplete
*.BuildWithSkipAnalyzers
netcoreapp3.1
net6.0
obj
/LPS.Domain/bin/Debug/net8.0
/LPS.Infrastructure/bin/Debug/net8.0
/LPS.UnitTest/bin/Debug/net8.0
/LPS/bin/Debug/net8.0
/LPS/.vs/LPS/v17/.suo
/LPS/.vs/LPS/v17/*.suo
/LPS/.vs/ProjectEvaluation/*.bin
/LPS/.vs/ProjectEvaluation
/LPS/.vs/LPS/v17/HierarchyCache.v1.txt
/LPS/Properties/PublishProfiles
/LPS/*.user
*.pdb
*.dll
/Dashboard/bin/Debug/net8.0/*.dll
*.exe
wwwroot
net8.0
/LPS/bin/Debug/net8.0.zip
*.user
/LPS/LPS - Backup.csproj
/LPS.Infrastructure/Common/Interfaces/ILPSConnectionsMetricMonitor.cs
/LPS.Infrastructure/Common/Interfaces/ILPSMetricMonitor.cs
/LPS/.vs/LPS/v17/TestStore/0/002.testlog
/LPS/.vs/LPS/v17/fileList.bin
/LPS/publish/Apis.deps.json
/LPS/publish/Apis.runtimeconfig.json
/LPS/publish/CodeCoverage/CodeCoverage.config
/LPS/publish/CodeCoverage/VanguardInstrumentationProfiler_x86.config
/LPS/publish/CodeCoverage/amd64/VanguardInstrumentationProfiler_x64.config
/LPS/publish/CodeCoverage/arm64/VanguardInstrumentationProfiler_arm64.config
/LPS/publish/InstrumentationEngine/alpine/x64/VanguardInstrumentationProfiler_x64.config
/LPS/publish/InstrumentationEngine/alpine/x64/libCoverageInstrumentationMethod.so
/LPS/publish/InstrumentationEngine/alpine/x64/libInstrumentationEngine.so
/LPS/publish/InstrumentationEngine/macos/x64/VanguardInstrumentationProfiler_x64.config
/LPS/publish/InstrumentationEngine/macos/x64/libCoverageInstrumentationMethod.dylib
/LPS/publish/InstrumentationEngine/macos/x64/libInstrumentationEngine.dylib
/LPS/publish/InstrumentationEngine/ubuntu/x64/VanguardInstrumentationProfiler_x64.config
/LPS/publish/InstrumentationEngine/ubuntu/x64/libCoverageInstrumentationMethod.so
/LPS/publish/InstrumentationEngine/ubuntu/x64/libInstrumentationEngine.so
/LPS/publish/LPS.Common.deps.json
/LPS/publish/LPS.Domain.deps.json
/LPS/publish/LPS.Infrastructure.deps.json
/LPS/publish/LPS.Protos.Shared.deps.json
/LPS/publish/LPS.UnitTest.deps.json
/LPS/publish/LPS.UnitTest.runtimeconfig.json
/LPS/publish/LPS.deps.json
/LPS/publish/LPS.runtimeconfig.json
/LPS/publish/Microsoft.CodeCoverage.props
/LPS/publish/Microsoft.CodeCoverage.targets
/LPS/publish/ThirdPartyNotices.txt
/LPS/publish/appsettings.Development.json
/LPS/publish/appsettings.json
/LPS/publish/coverlet.collector.deps.json
/LPS/publish/coverlet.collector.targets
/LPS/publish/coverlet.core.xml
/LPS/publish/web.config
