*.cache
*.vsidx
*.v2
*.CopyComplete
*.BuildWithSkipAnalyzers
netcoreapp3.1
net6.0
obj
/LPS.Domain/bin/Debug/net8.0
/LPS.Infrastructure/bin/Debug/net8.0
/LPS.UnitTest/bin/Debug/net8.0
/LPS/bin/Debug/net8.0
/LPS/.vs/LPS/v17/.suo
/LPS/.vs/LPS/v17/*.suo
/LPS/.vs/ProjectEvaluation/*.bin
/LPS/.vs/ProjectEvaluation
/LPS/.vs/LPS/v17/HierarchyCache.v1.txt
/LPS/Properties/PublishProfiles
/LPS/*.user
*.pdb
*.dll
/Dashboard/bin/Debug/net8.0/*.dll
*.exe
wwwroot
net8.0
/LPS/bin/Debug/net8.0.zip
*.user
/LPS/LPS - Backup.csproj
/LPS.Infrastructure/Common/Interfaces/ILPSConnectionsMetricMonitor.cs
/LPS.Infrastructure/Common/Interfaces/ILPSMetricMonitor.cs
/LPS/.vs/LPS/v17/TestStore/0/002.testlog
/LPS/.vs/LPS/v17/fileList.bin
/LPS/publish/Apis.deps.json
/LPS/publish/Apis.runtimeconfig.json
/LPS/publish/CodeCoverage/CodeCoverage.config
/LPS/publish/CodeCoverage/VanguardInstrumentationProfiler_x86.config
/LPS/publish/CodeCoverage/amd64/VanguardInstrumentationProfiler_x64.config
/LPS/publish/CodeCoverage/arm64/VanguardInstrumentationProfiler_arm64.config
/LPS/publish/InstrumentationEngine/alpine/x64/VanguardInstrumentationProfiler_x64.config
/LPS/publish/InstrumentationEngine/alpine/x64/libCoverageInstrumentationMethod.so
/LPS/publish/InstrumentationEngine/alpine/x64/libInstrumentationEngine.so
/LPS/publish/InstrumentationEngine/macos/x64/VanguardInstrumentationProfiler_x64.config
/LPS/publish/InstrumentationEngine/macos/x64/libCoverageInstrumentationMethod.dylib
/LPS/publish/InstrumentationEngine/macos/x64/libInstrumentationEngine.dylib
/LPS/publish/InstrumentationEngine/ubuntu/x64/VanguardInstrumentationProfiler_x64.config
/LPS/publish/InstrumentationEngine/ubuntu/x64/libCoverageInstrumentationMethod.so
/LPS/publish/InstrumentationEngine/ubuntu/x64/libInstrumentationEngine.so
/LPS/publish/LPS.Common.deps.json
/LPS/publish/LPS.Domain.deps.json
/LPS/publish/LPS.Infrastructure.deps.json
/LPS/publish/LPS.Protos.Shared.deps.json
/LPS/publish/LPS.UnitTest.deps.json
/LPS/publish/LPS.UnitTest.runtimeconfig.json
/LPS/publish/LPS.deps.json
/LPS/publish/LPS.runtimeconfig.json
/LPS/publish/Microsoft.CodeCoverage.props
/LPS/publish/Microsoft.CodeCoverage.targets
/LPS/publish/ThirdPartyNotices.txt
/LPS/publish/appsettings.Development.json
/LPS/publish/appsettings.json
/LPS/publish/coverlet.collector.deps.json
/LPS/publish/coverlet.collector.targets
/LPS/publish/coverlet.core.xml
/LPS/publish/web.config
/LPS/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/LPS/obj/Debug/net6.0/LPS.AssemblyInfo.cs
/LPS/publish
/LPS/logs/lpslog.log
/LPS.Common/bin/Release
/LPS.Domain/bin/Release
/LPS.Infrastructure/bin/Release
/LPS.Protos.Shared/bin/Release
/LPS/bin/Release
/.vs/LPS/v17
/.vs/VSWorkspaceState.json
/LPS/.vs/LPS/v18
/LPS/.vs/CopilotSnapshots/FE0BAB03CA125B4385EB595DA5D397F1/34C41A40805FEE40A530040F0EAAD6F4
sd
CopilotSnapshots
ProjectEvaluation
/LPS/.vs/LPS/CopilotIndices/18.0.911.22890
/LPS/.vs/LPS/copilot-chat/e14714e3/sessions
examples
*.db
*.db-wal
*.db-shm
*.md
/lps-docs
