     body.dark-mode {
            background-color: #121212;
            color: #ffffff;
        }
        .dark-mode .card {
            background-color: #1e1e1e;
            color: #ffffff;
        }
        .dark-mode .btn-link {
            color: #ffffff;
        }
        .container {
            margin-top: 20px;
        }
        .collapse-container {
            margin-bottom: 20px;
        }
        .status {
            font-weight: bold;
        }
        .status-NotRunning {
            color: grey;
        }
        .status-NotStarted {
            color: orange;
        }
        .status-Ongoing {
            color: blue;
        }
        .status-Paused {
            color: yellow;
        }
        .status-Cancelled {
            color: red;
        }
        .status-Completed {
            color: green;
        }
        .status-Failed {
            color: darkred;
        }
        .collapsible {
            cursor: pointer;
        }
        .toggle-button {
            margin-bottom: 20px;
        }